<nav class="navbar navbar-light bg-light px-4 border-bottom">
  <div class="d-flex align-items-center gap-2">
<button class="btn" (click)="toggleSidebar.emit()">
  <i class="bi" [ngClass]="isMobileOpen ? 'bi-x-lg' : 'bi-list'"></i>
</button>

    <input type="text" class="form-control d-none d-md-inline w-50" placeholder="Search..." />
  </div>

  <div class="ms-auto d-flex align-items-center gap-4">
    <i class="bi bi-bell position-relative">
      <span class="badge bg-danger position-absolute top-0 start-100 translate-middle p-1 rounded-circle"></span>
    </i>
    <div class="d-flex align-items-center gap-2">
      <span>Pauline Seitz</span>
      <img src="assets/user.jpg" width="32" height="32" class="rounded-circle" />
    </div>
  </div>
</nav>
